div[data-testid="trello-card"] {
  /* main card container */
  min-height: 0px !important;
}

div[data-testid="trello-card"] > * {
  /* main card container */
  min-height: 0px !important;
}

/* If label exists: 4th child */
div[data-testid="trello-card"] > :first-child:has([data-testid="compact-card-label"]) > :nth-child(4),
div[data-testid="trello-card"] > :nth-child(2):has([data-testid="compact-card-label"]) > :nth-child(4) {
  /* members icons parent div, 4th child */
  position: absolute !important;
  top: 2px !important;
  right: 6px !important;
}

/* If label does NOT exist: 3rd child */
div[data-testid="trello-card"] > :first-child:not(:has([data-testid="compact-card-label"])) > :nth-child(3),
div[data-testid="trello-card"] > :nth-child(2):not(:has([data-testid="compact-card-label"])) > :nth-child(3) {
  /* members icons parent div, 3rd child */
  position: absolute !important;
  top: 2px !important;
  right: 6px !important;
}

button[data-testid="card-front-member"] > * {
  /* members icons */
  width: 13px !important;
  height: 13px !important;
  line-height: 13px !important;
  background-size: 13px !important;
}

div[data-testid="card-front-badges"] {
  /* status icon bar */
  position: absolute !important;
  bottom: -3px !important;
  right: 4px !important;
  column-gap: 6px !important;
  height: fit-content !important;
}

div[data-testid="card-front-badges"] > * {
  /* status icons parent div*/
  width: fit-content !important;
  height: 14px !important;
  padding: 0px !important;
}

div[data-testid="card-front-badges"] > * > :nth-child(2) {
  /* status icon texts */
  font-size: 10px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 2px !important;
}

div[data-testid="card-front-badges"] svg {
  width: 10px !important;
  height: 10px !important;
}

div[data-testid="card-front-badges"] > * > * {
  /* status icon parent div, making both icon and text width snug */
  width: fit-content !important;
}

a[data-testid="card-name"] {
  /* Card text overflow max lines */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important; /* number of lines */
  -webkit-box-orient: vertical !important;
  margin-bottom: 0px !important;
}

/* shadow and size on edit card button */
button[data-testid="quick-card-editor-button"] {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 22px !important;
  height: 22px !important;
}

/* scale down icon edit card button */
button[data-testid="quick-card-editor-button"] > :first-child {
  scale: 95% !important;
}

/* Position the color label pill. Only apply if the color label exists, and if the card had a preview image, select child nr 2 */
div[data-testid="trello-card"]:has([data-testid="compact-card-label"]) > :first-child > :first-child,
div[data-testid="trello-card"]:has([data-testid="card-front-cover"]):has([data-testid="compact-card-label"]) > :nth-child(2) > :first-child {
  /* color label line */
  margin-bottom: 0px !important;
  position: absolute !important;
  top: 5px !important;
  left: 6px !important;
}

span[data-testid="compact-card-label"][data-expanded="false"] {
  /* color labels */
  min-width: 20px !important;
  max-width: 20px !important;
  height: 8px !important;
}

/* Card content padding */
div[data-testid="trello-card"]:has([data-testid="card-front-cover"]) > :nth-child(2),
div[data-testid="trello-card"]:not(:has([data-testid="card-front-cover"])) > :first-child {
  padding-top: 4px !important;
  padding-right: 8px !important;
  padding-bottom: 4px !important;
  padding-left: 8px !important;
}

/* If card has members, add padding to top */
div[data-testid="trello-card"]:has([data-testid="card-front-cover"]):has([data-testid="card-front-member"]) > :nth-child(2),
div[data-testid="trello-card"]:not(:has([data-testid="card-front-cover"])):has([data-testid="card-front-member"]) > :first-child {
  padding-top: 12px !important;
}

/* If there are status labels, increase the bottom padding */
div[data-testid="trello-card"]:has([data-testid="card-front-cover"]):has([data-testid="card-front-badges"]:not(:empty)) > :nth-child(2),
div[data-testid="trello-card"]:not(:has([data-testid="card-front-cover"])):has([data-testid="card-front-badges"]:not(:empty)) > :first-child {
  padding-bottom: 12px !important;
}

/* If card has labels, overwrite the top padding */
div[data-testid="trello-card"]:has([data-testid="card-front-cover"]):has([data-testid="compact-card-label"]) > :nth-child(2),
div[data-testid="trello-card"]:not(:has([data-testid="card-front-cover"])):has([data-testid="compact-card-label"]) > :first-child {
  padding-top: 12px !important;
}

div[data-testid="list-card-gap"] {
  /* spacing between cards */
  height: 6px !important;
}

/* do this last, to remove all padding added before to all children of trello card */
div[data-testid="card-front-cover"] {
  max-height: 30px !important;
  /* padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; */
}
